.full-name, .register-email, .register-pass, .pass-repeat {
    font-size: 4rem;
    text-align: center;
    width: 36rem;
    height: 6rem;
    margin: 1rem;
    background: #FFFFFF;
    border-radius: 4rem;
}

.btn-register {
    width: 14rem;
    height: 6rem;
    color:white;
    background: #29A8FF;
    border: 6px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4rem;
    font-weight: 600;
}